body {
    margin: 0;
}
.App {
    width: 100vw;
    text-align: center;
}
.start {
    display: block;
    width: 80%;
    height: 400px;
    margin: 20px auto;
}
.stop {
    display: block;
    width: 80%;
    height: 80px;
    margin: 20px auto;
}
.playback-rate-control {
    margin: 10px auto;
}
